<!DOCTYPE html>
<html>
  <%- include('partials/head', {title: 'Home' }) %>

  <body class="body_moviesAdd">
    <nav class="nav_codingnepal">
      <a href="/"><img class="img_codingnepal" src="/img/logoSalioPeli_blanco.png" alt="Logo Digital House"></a>
    </nav>
  
    <%- include('partials/slideBarMenu') %>

    
    <%- include('partials/scripts') %>
  </body>
</html>
